# Vivado (files + folders)
*.jou
*.log
*.pb
*.wdb
*.backup.*
*.vcd
*.vcdf
xsim.dir/
*.cache/
*.runs/
*.hw/
*.ip_user_files/

# asm files
*.o
*.bin
*.hex

# python files
__pycache__/
*.pyc
.*.swp

# OS
.DS_Store
